/*
** CSS Reset
*/
* { margin: 0; padding: 0 }
* { box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
/*
** 主题配色
*/
$color-primary: #1fab89;
$color-text: #081e1f;
$color-bg: #ffffff;
$color-bg-active: #d7fbe8;
$color-border: #dadada;
$color-shadow: #1fab89;

$box-shadow: 0 1px 1px $color-primary;
$border: 1px solid $color-border;


/*
** 组件大小
*/

$border-radius: 16px;
$font-size: 14px;
$height-button: 32px;

$border-radius-card: 8px;


//$color-ex-light: #e3fdfd;
//$color-light: #cbf1f5;
//$color-primary: #56a7ac;
//$color-dark: #2a6c6f;
//$color-ex-dark: #282c34;
//$color-base: #ffffff;
//$color-disabled: #aaaaaa;
//$color-error: #ff6464;
//
//
//$text-color: #2a6c6f;
//$font-size: 14px;
//$button-height: 32px;
//$border-radius: 16px;
//$border-color: #56a7ac;
//$background-color: #ffffff;
//$border-color-hover: #2a6c6f;
//$box-shadow-color:rgba(42, 108, 111, 0.7);
//$button-bg-active: #2a6c6f;
//$button-text-active: #cbf1f5;